<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.feiyou.headstyle">

    <!--连接网络权限，用于执行云端语音能力 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--读取网络信息状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--配置权限，用来记录应用配置信息
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>-->
    <!--手机定位信息，用来为语义等功能提供定位，提供更精准的服务-->
    <!--定位信息是敏感信息，可通过Setting.setLocationEnable(false)关闭定位请求 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--如需使用人脸识别，还要添加：摄相头权限，拍照需要用到 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--系统弹出窗-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />    <!-- targetSdkVersion >= 26 时需要配置此权限，否则无法进行安装app的动作 -->

    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 如果有视频相关的广告且使用textureView播放，请务必添加，否则黑屏 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="LockedOrientationActivity">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.activity.Splash2Activity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTransparentTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".ui.activity.HeadEditActivity"></activity>
        <activity android:name=".ui.activity.HeadShowActivity"></activity>
        <activity
            android:name=".ui.activity.Collection2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.HeadListActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <activity android:name=".ui.activity.FriendListActivity" />
        <activity android:name=".ui.activity.MoreTypeActivity" />
        <activity android:name=".ui.activity.TestCategoryActivity" />
        <activity android:name=".ui.activity.TestDetailActivity" />
        <activity android:name=".ui.activity.TestImageDetailActivity" />
        <activity android:name=".ui.activity.TestResultActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.EditUserInfoActivity" />
        <activity android:name=".ui.activity.ShowImageListActivity" />
        <activity android:name=".ui.activity.HeadSaveActivity" />
        <activity android:name=".ui.activity.BindPhoneActivity" />
        <activity android:name=".ui.activity.AdActivity" />
        <activity android:name=".ui.activity.PushNoteActivity" />
        <activity android:name=".ui.activity.PhotoWallActivity" />
        <activity android:name=".ui.activity.MyNoteActivity" />
        <activity android:name=".ui.activity.UserInfoActivity" />
        <activity android:name=".ui.activity.StarListActivity" />
        <activity android:name=".ui.activity.StarDetailActivity" />
        <activity android:name=".ui.activity.AddFriendsActivity" />
        <activity android:name=".ui.activity.MyFollowActivity" />
        <activity android:name=".ui.activity.TopicSelectActivity" />
        <activity android:name=".ui.activity.Test1Activity" />
        <activity android:name=".ui.activity.MoreTestActivity" />
        <activity android:name=".ui.activity.ReportInfoActivity" />
        <activity android:name=".ui.activity.MyCollectionActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.FeedBackActivity" />
        <activity android:name=".ui.activity.EveryDayHongBaoActivity"></activity>
        <activity android:name=".ui.activity.PrivaryActivity"></activity>
        <activity
            android:name=".ui.activity.CommunityTypeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommunityType1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CommunityArticleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VideoShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.VideoItemShowActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyMessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MessageDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.CashActivity"></activity>
        <activity android:name=".ui.activity.CashRecordActivity"></activity>
        <activity android:name=".ui.activity.GoldDetailActivity"></activity>
        <activity android:name=".ui.activity.GoldTaskActivity"></activity>
        <activity android:name=".ui.activity.GoldMailActivity"></activity>
        <activity android:name=".ui.activity.GoodDetailActivity"></activity>
        <activity android:name=".ui.activity.ExchangeDetailActivity"></activity>
        <activity android:name=".ui.activity.MyExchangeListActivity"></activity>
        <activity android:name=".ui.activity.AboutGoldActivity"></activity>
        <activity android:name=".ui.activity.NativeVerticalVideoActivity"></activity>
        <activity android:name=".ui.activity.GameTestActivity"></activity>
        <activity android:name=".ui.activity.GoldAndCashActivity"></activity>
        <activity android:name=".ui.activity.ImageMakeActivity"></activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105592461" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.connect.avatar.ImageActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.feiyou.headstyle.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="com.feiyou.headstyle.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/tt_file_paths" />
        </provider>

        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="com.feiyou.headstyle.TTMultiProvider"
            android:exported="false" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57ccc92867e58e1e9e000763" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="liurenjun" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
    </application>

</manifest>